<!-- Menu toggle -->
<a
    href="#"
    class="menu-toggle js-ontoggle-toggler"
    data-ontoggle-target="js-site-menu"
>
    <div class="relative">
        <%- include(partial('_x')) %>
        <%- include(partial('_trigram')) %>
    </div>
</a><!-- / Menu toggle -->