<div class="social-share">
    <div class="social-share__item">
        <a
            href="#"
            class="social-share__link mod-twitter"
            data-url="https://geoshen.com/posts/{{slug}}"
            data-description="{{shareDescription}}"
        >
            <%- inline_svg(`icon-twitter`) %>
        </a>
    </div>
    <div class="social-share__item">
        <a
            href="#"
            class="social-share__link mod-fb"
            data-url="https://geoshen.com/posts/{{slug}}"
            data-description="{{shareDescription}}"
        >
            <%- inline_svg(`icon-facebook`) %>
        </a>
    </div>
    <div class="social-share__item">
        <a
            href="#"
            class="social-share__link mod-linkedin"
            data-url="https://geoshen.com/posts/{{slug}}"
            data-description="{{shareDescription}}"
        >
            <%- inline_svg(`icon-linkedin`) %>
        </a>
    </div>
</div>
