<div class="toc">
    <div class="toc-container">
        <h2 class="toc-list-title">Categories</h2>
        <ul class="toc-list">
            <% items.forEach(item => { %>
                <li class="toc-list-item">
                    <a href="#" class="toc-list-item-link"><%= item.name %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>