<div class="trigram">
    <div class="trigram-bar">
        <div class="trigram-bar-inner mod-1"></div>
        <div class="trigram-bar-inner mod-2"></div>
    </div>
    <div class="trigram-bar">
        <div class="trigram-bar-inner mod-1"></div>
        <div class="trigram-bar-inner mod-2"></div>
    </div>
    <div class="trigram-bar">
        <div class="trigram-bar-inner mod-1"></div>
        <div class="trigram-bar-inner mod-2"></div>
    </div>
</div>
